            <div class="row hero-unit" >
                <h2>Hello <?php echo $admin; ?>,&nbsp;<a href="logout" style="color:#2CB7F2;text-decoration: none;">  Logout </a> </h2><br />
            </div>
            <div class="row navbar">
                <div class="navbar-inner">
                    <div class="container">
                <ul class="nav">
                    <li page="allCat"><a href="/admin/allCat" > All categories </a></li>
                    <li page="allProd"><a href="/admin/allProd" > All products </a></li>
                    <li page="createCat"><a href="/admin/createCat" > Create category </a></li>
                    <li page="createProd"><a href="/admin/createProd" > Create product </a></li>
                    <li page="viewAllOrders"><a href="/admin/viewAllOrders" > View all orders </a></li>
                    <li page="searchOrders"><a href="/admin/searchOrders" > Search orders </a></li>
                </ul>
                        </div>
                </div>
            </div>
            
